@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Searchbar</h1>
</div>



<div class="text-center">
    <h2 class="display-4">Cv</h2>
</div>



<div class="text-center">
    <h2 class="display-4">Nya projekt</h2>
</div>










<form method="post" asp-controller="Account" asp-action="LoggaUt">
    <AuthorizeView>
        <Authorized>
            <h2>Inloggad som @User.Identity.Name</h2>
            <input type="submit" value="Logga ut" />
        </Authorized>
    </AuthorizeView>
</form>
