@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class= "grid-container">

        <div class="grid-item1">
        
                <h1 >Searchbar</h1>

        </div>
        <div class="grid-item2">
            <h2> CV</h2>

        </div>
        <div class="grid-item3">
            <h3>CVContent1</h3>
        </div>
        <div class="grid-item4">
            <h3>CVContent2</h3>
        </div>
        <div class="grid-item5">
            <h3>CVContent3</h3>
        </div>
        <div class="grid-item6">
            <h3>CVContent4</h3>
        </div>
        <div class="grid-item7">
            <h2>Nya Projekt</h2>
        </div>
        <div class="grid-item8">
            <h3>ProjektContent1</h3>
        </div>
        <div class="grid-item9">
            <h3>ProjektContent2</h3>
        </div>
        <div class="grid-item10">
            <h3>ProjektContent3</h3>
        </div>
        <div class="grid-item11">
            <h3>ProjektContent4</h3>
        </div>
    </div>
</body>
        









<form method="post" asp-controller="Account" asp-action="LoggaUt">
    <AuthorizeView>
        <Authorized>
            <h2>Inloggad som @User.Identity.Name</h2>
            <input type="submit" value="Logga ut" />
        </Authorized>
    </AuthorizeView>
</form>


<style>

    body{
        margin:0;
        padding:0;
        text-align:center;
    }
    .grid-container{
        display:grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: auto; 
        gap: 10px;
    }
    .grid-item1{
        grid-row: 1;
        grid-column:1 / span 4 ;
        border-bottom: solid;
    }

    .grid-item2{
        grid-row: 2;
        grid-column: 1 / span 4;
        background-color: lightblue;
        border-bottom: solid;
    }


    .grid-item3{
        grid-row: 3;
        grid-column: 1;
        background-color: green;
        border-bottom: solid;
    }

    .grid-item4 {
        grid-row: 3;
        grid-column: 2;
        background-color: blue;
        border-bottom: solid;
    }

    .grid-item5 {
        grid-row: 3;
        grid-column: 3;
        background-color: orange;
        border-bottom: solid;
    }

    .grid-item6 {
        grid-row: 3;
        grid-column: 4;
        background-color: purple;
        border-bottom: solid;
    }

    .grid-item7 {
        grid-row: 4;
        grid-column: 1/ span 4;
        background-color: red;
        border-bottom: solid;
    }

    .grid-item8 {
        grid-row: 5;
        grid-column: 1;
        background-color: green;
        border-bottom: solid;
    }

    .grid-item9 {
        grid-row: 5;
        grid-column: 2;
        background-color: blue;
        border-bottom: solid;
    }

    .grid-item10 {
        grid-row: 5;
        grid-column: 3;
        background-color: orange;
        border-bottom: solid;
    }

    .grid-item11 {
        grid-row: 5;
        grid-column: 4;
        background-color: purple;
        border-bottom: solid;
    }

</style>