@model MessageViewModel

<form method="post" asp-action="Message">
    <input type="hidden" asp-for="MessageId" />
    <input type="hidden" asp-for="Sender" />
    <input type="hidden" asp-for="Reciever" />
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Ange meddelande:</label>
        </div>
        <div class="col-sm-4">
            <input asp-for="MessageContent" class="form-control" />
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Ange ditt namn:</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="SenderName" class="form-control" placeholder="Ditt namn" />
            </div>
        </div>
    }
    <button type="submit" class="btn btn-primary">Skicka meddelande</button>
</form>